h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #fafafa;
}

.header-container {
  align-items: center;
  display: flex;
}
.header-nav-list {
  display: flex;
}
.header-nav-list-item:not(:last-child) {
  margin-right: 31px;
}

.header-nav-list-link {
  display: block;
  padding: 47px 0;
}
.header-nav {
  align-items: center;
  display: flex;
}
.logo {
  margin-left: 80px;
  margin-right: 433px;
}

.header-button {
  padding: 8px 20px;
  margin-left: auto;
  margin-right: 40px;
  border: 1px solid #f7941e;
  border-radius: 5px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: transparent;

  color: #f7941e;
}
